body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  list-style: none;
}

header {
  padding: 20px;
  background: #1F2937; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  flex: auto;
}

.header-links {
  display: flex;
  gap: 30px;
}

.main {
  flex: auto;
}

.first-part {
  background: #1F2937;
  display: flex; 
  padding: 70px;
}

.awesome {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.sub-awesome {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background: #3882F6;
}

.first-img {
  padding: 100px;
  margin: 10px;
  background: grey;
  color: #E5E7EB;
  align-self: center;
}

.second-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.rando {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 50px;
}

.pics {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.framed {
  padding: 50px;
  border: 5px solid blue;
}

.groups {
  max-width: 200px;
  align-self: center;
}

.subs {
  display: flex;
  align-items: center;
}

.footer {
  padding: 20px;
  font-size: 18px;
  color: #E5E7EB;
  background: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}